/* Basic Styles */
#btn-debug {
    position: absolute;
}
.hide {
    display: none;
}
.show {
    display: inline-block;
}
.avatar-container {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
}
.ui-sortable-handle:hover {
    cursor: pointer;
}