/* Basic Styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
body > .container {
    margin-top: 60px;
}
h1, h2, h3, h4 {
    font-family: Knewave, cursive;
}
a {
    transition: .5s all;
}
a:hover {
    text-decoration: none;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #e3e3e3;
}

/* Socials */
footer .btn {
    padding: 6px 6px;
    transition: .5s all;
}

#btn-debug {
    position: absolute;
}
.hide {
    display: none;
}
.show {
    display: inline-block;
}
.avatar-container, .thumbnail > a > img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
}
.thumbnail > a > img {
    margin-top: 10px;
    width: 250px;
    height: 180px;
}

/* Logo styles 
.navbar-brand {
        padding: 0 15px;
}
.navbar-brand img {
        width: 74px;
        opacity: .92;
}
.navbar-brand span {
        color: #101010;
}

*/

/* Forms styles */
.reg-log-form input, .reg-log-form select {
    width: 94%;
}
.green-tick {
    color: rgb(3, 199, 3);
    top: 8px;
    left: -14px;
}

/* Img zoom effect */
img {
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
img:hover, .navbar-brand:hover img {
    opacity: .7;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
}