/* Basic Styles */
body > .container {
    margin-top: 60px;
}
#btn-debug {
    position: absolute;
}
.hide {
    display: none;
}
.show {
    display: inline-block;
}
.avatar-container {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
}

/* Forms styles */
.reg-log-form input, .reg-log-form select {
	width: 94%;
}
.green {
	color: rgb(3, 199, 3);
}

/* Img zoom effect */
img {
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
img:hover {
    opacity: .7;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
}